-- vim: ts=4 sw=4 noet ai cindent syntax=lua
conky.config = {
    alignment = 'bottom_left',
    background = true,
    border_width = 0,
    cpu_avg_samples = 2,
    default_color = '86b5ea',
    color0 = 'cccccc',
    double_buffer = true,
    draw_borders = false,
    draw_outline = false,
    draw_shades = false,
    use_xft = true,
    font = 'Fira Sans:size=11',
    gap_x = 2,
    gap_y = 1,
    if_up_strictness = 'address',
    minimum_height = 2,
    minimum_width = 1920,
    maximum_width = 1920,
    net_avg_samples = 3,
    no_buffers = true,
    out_to_console = false,
    out_to_stderr = false,
    extra_newline = false,
    own_window = true,
    --own_window_argb_value = 120,
    own_window_class = 'Conky',
    --own_window_colour = '373737',
    own_window_transparent = true,
    own_window_type = 'desktop',
    stippled_borders = 0,
    update_interval = 3.0,
    uppercase = false,
    use_spacer = 'none',
    show_graph_scale = false,
    show_graph_range = false,
    template0 = [[${color0}\1:${color} ${fs_used \2} / ${fs_size \2}]],
    template1 = [[${color0}\1:${color} ]],
    template2 = [[${if_up \1}⬆${upspeed \1} ⬇${downspeed \1}${endif}]],
    template3 = [[${if_up \1}${addr \1}${endif}]]
}

conky.text = [[
            ${template1 Uptime}$uptime      \
${template1 CPU\ Usage}${cpu cpu0}%      \
${template1 CPU\ Temp}${execi 60 acpi -t | cut -c 16-17 | awk '{print $1}{exit}'}°C      \
${template1 Mem}${memperc}%      ${template1 Swap}$swapperc%      \
${template1 HDD\ Temp}$hddtemp °C      \
${template0 Root /}      ${template0 Home /home}      \
${if_mounted /media/Lacie}${template0 Lacie /media/Lacie}${endif}      \
${template1 Updates}${execpi 12000 checkupdates | wc -l}      \
${template1 LAN\ IP}${template3 wlp3s0}${template3 wlp0s20f0u2}${template3 enp4s0f1}      \
${template1 WAN\ IP}${execpi 12000 dig +short myip.opendns.com @resolver1.opendns.com}      \
${template1 Network}${template2 wlp3s0}${template2 wlp0s20f0u2}${template2 enp4s0f1}
]]
